<div class="col-md-12">
  <div class="group">

    <%= link_to("Write a Post", new_group_post_path(@group), class: "btn btn-default pull-right") %>

    <% if current_user && current_user == @group.user %>
      <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right") %>
    <% end %>
  </div>
  <h2><%= @group.title %></h2>
  <p><%= @group.description %></p>
</div>
